
/* Set the color of the toggler icon to white */
.navbar-toggler-icon {
  color: white !important;
  background-color: none;
  
  background-color: white;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-light .navbar-toggler {
  background: none;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  cursor: pointer; 
}
